<!DOCTYPE html>
<html>
  <head>
    <title>SupportMorayEel</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application', 'hello_vue' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
